
<section class="site-section mt-0" id="about-section">
    <div class="row mb-5 justify-content-center" style="background-color: rgb(242, 242, 242);">
      <div class="col-md-6 text-center" style="margin: 10em">
        <h3 class="section-sub-title">Popular Products</h3>
        <h2 class="section-title mb-3">Our Products</h2>


        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repudiandae nostrum natus excepturi fuga ullam accusantium vel ut
          eveniet aut consequatur laboriosam ipsam.</p>
      </div>
    </div>
  </section>


