
<div class="modal fade " style = "align-items: center;" id="modalSubscriptionForm" tabindex="0" role="dialog" aria-labelledby="myModalLabel" 
  aria-hidden="true" >
  <div class="modal-dialog" role="document" >
    <div class="modal-content" >
     
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold" style="color: red">ORDER NOW <br/><h6 style="color: royalblue;size:1px">gcms +and 56</h6></h4>
        

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body mx-3" style = " background-color:gainsboro ; margin:20px; ">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
        
          <label     data-error="wrong" data-success="right" for="form3">Before you initiate the process to request the GCMS notes from Citizenship and Immigration Canada please have the following ready :
            <ul >
              <li> Your date of birth and full name as it appears on your immigration application</li>
              <li>Full name and date of birth of your spouse or common-law partner (if you have a spouse or common-law partner included in your application)
                </li>
              <li> Visa file number / UCI number</li>
              <li>After the payment is made and you have filled in your details, please print, sign, scan and email the Consent Form. (The consent form will also be emailed to you).
              </li>
            </ul> 
          </label>
          
        </div>
      </div>
     <!--  <ngx-paypal [config]="payPalConfig"></ngx-paypal> -->

      </div>
      
      
    
  </div>
</div>



