<!-- <div class="site-section" id="price-section">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-sm-3">
        <div class="pricingTable orange">
          <div class="pricingTable-header">
            <div class="price-value">
              <span class="amount" style="font-size: 40px; text-align: justify;margin-top: 40px"> e-GCMS</span>

            </div>
            <h3 class="title">Business</h3>
          </div>
          <p class="pricing-content" style="text-align: center">Electronic Case Notes Delivered Right to Your E-Mail
            Inbox as Issued by IRCC.

            Approximately 40 Days Delivery Time</p>
          <br />
          <br />
          <br />
          <br />
          <br />

          <ul class="pricing-content">


            <li><i class="fa fa-check"></i>
              <label class="radio-inline btn btn-primary w-75" style="background-color: #0652DD;">
                <input type="radio" name="optradio" style="align-content: flex-start" value='55'
                  (change)=radiochangehandler($event) checked> 55
              </label></li>
            <li><i class="fa fa-check"></i>
              <label class="radio-inline btn btn-primary w-75" style="background-color: #0652DD">
                <input type="radio" name="optradio" value='200' (change)=radiochangehandler($event) checked> 200
              </label></li>
            <li><i class="fa fa-check"></i>
              <label class="radio-inline btn btn-primary w-75" style="background-color: #0652DD">
                <input type="radio" name="optradio" value='1000' (change)=radiochangehandler($event) checked> 100
              </label></li>
          </ul>




          <a class="pricingTable-signup" (click)='ordernow("e-GCMS")' data-toggle="modal"
            data-target="#modalSubscriptionForm" style="color: white">Order</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="pricingTable orange">
          <div class="pricingTable-header">
            <div class="price-value">
              <span class="amount" style="font-size: 40px; text-align: justify;margin-top: 40px">GCMS+</span>

            </div>
            <h3 class="title">Business</h3>
          </div>
          <p class="pricing-content" style="text-align: center">Entire Case File Which Includes Copies of The Forms &
            Docs Submited to IRCC.

            Delivery times varies and are considerably longer than e-GCMS</p>
          <br />
          <br />
          <br />
          <br />
          <ul class="pricing-content">


            <li><i class="fa fa-check"></i>
              <label class="radio-inline btn btn-primary w-75" style="background-color: #0652DD;">
                <input type="radio" name="optradio" style="align-content: flex-start" value='300'
                  (change)=radiochangehandler($event) checked> 300
              </label></li>
            <li><i class="fa fa-check"></i>
              <label class="radio-inline btn btn-primary w-75" style="background-color: #0652DD">
                <input type="radio" name="optradio" value='150' (change)=radiochangehandler($event) checked> 150
              </label></li>
            <li><i class="fa fa-check"></i>
              <label class="radio-inline btn btn-primary w-75" style="background-color: #0652DD">
                <input type="radio" name="optradio" value='250' (change)=radiochangehandler($event) checked> 250
              </label></li>
          </ul>


          <a href="#" class="pricingTable-signup" (click)='ordernow("GCMS+")'>Order</a>
        </div>
      </div>


      <div _ngcontent-dfw-c78="" class="col-md-3 col-sm-3">
        <div _ngcontent-dfw-c78="" class="pricingTable orange">
          <div _ngcontent-dfw-c78="" class="pricingTable-header">
            <div _ngcontent-dfw-c78="" class="price-value">
              <span _ngcontent-dfw-c78="" class="amount"
                style="font-size: 40px; text-align: justify; margin-top: 40px;"> e-GCMS</span>
            </div>
            <h3 _ngcontent-dfw-c78="" class="title">Business</h3>
          </div>
          <p _ngcontent-dfw-c78="" class="pricing-content" style="text-align: center;"> Electronic Case Notes Delivered
            Right to Your
            E-Mail Inbox as Issued by IRCC. Approximately 40 Days Delivery Time </p><br _ngcontent-dfw-c78="">
          <ul _ngcontent-dfw-c78="" class="pricing-content">
            <li _ngcontent-dfw-c78=""><label _ngcontent-dfw-c78="" class="labelclass"><input _ngcontent-dfw-c78=""
                  type="radio" name="example" value="20" checked=""
                  class="option-input radio ng-untouched ng-pristine ng-valid"><label _ngcontent-dfw-c78=""
                  onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"
                  style="margin-left: 40px;"><sup _ngcontent-dfw-c78="">C$</sup><b _ngcontent-dfw-c78=""
                    style="font-size: large;"> 20</b></label></label></li>
            <li _ngcontent-dfw-c78=""><label _ngcontent-dfw-c78="" class="labelclass"><input _ngcontent-dfw-c78=""
                  type="radio" name="example" value="15" class="option-input radio"><label _ngcontent-dfw-c78=""
                  onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"
                  style="margin-left: 40px;"><sup _ngcontent-dfw-c78="">U$</sup><b _ngcontent-dfw-c78=""
                    style="font-size: large;"> 15</b></label></label></li>
            <li _ngcontent-dfw-c78=""><label _ngcontent-dfw-c78="" class="labelclass"><input _ngcontent-dfw-c78=""
                  type="radio" name="example" value="500" class="option-input radio"><label _ngcontent-dfw-c78=""
                  onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"
                  style="margin-left: 40px;"><sup _ngcontent-dfw-c78=""> ₹ </sup><b _ngcontent-dfw-c78=""
                    style="font-size: large;"> 500</b></label></label></li>
          </ul><br _ngcontent-dfw-c78=""><a _ngcontent-dfw-c78="" class="pricingTable-signup"
            style="color: white;">Order</a>
        </div>
      </div>
















      <div class="col-md-3 col-sm-3">
        <div class="pricingTable orange">
          <div class="pricingTable-header">
            <div class="price-value">
              <span class="amount" style="font-size: 40px; text-align: justify;margin-top: 40px"> CBSA/CSIS</span>

            </div>
            <h3 class="title">Business</h3>
          </div>
          <p class="pricing-content" style="text-align: center">Notes about PR application processing or information on
            border crossing for filing citizenship application.

            Average processing time 50-60 days</p>
          <br />
          <br />
          <br />
          <br />
          <ul class="pricing-content">


            <li><i class="fa fa-check"></i>
              <label class="radio-inline btn btn-primary w-75" style="background-color: #0652DD;">
                <input type="radio" name="optradio" style="align-content: flex-start" value='100'
                  (change)=radiochangehandler($event) checked> 100
              </label></li>
            <li><i class="fa fa-check"></i>
              <label class="radio-inline btn btn-primary w-75" style="background-color: #0652DD">
                <input type="radio" name="optradio" value='150' (change)=radiochangehandler($event) checked> 150
              </label></li>
            <li><i class="fa fa-check"></i>
              <label class="radio-inline btn btn-primary w-75" style="background-color: #0652DD">
                <input type="radio" name="optradio" value='750' (change)=radiochangehandler($event) checked> 750
              </label></li>
          </ul>


          <a href="#" class="pricingTable-signup" (click)='ordernow(" CBSA/CSIS")'>Order</a>
        </div>
      </div>

      <div class="col-md-3 col-sm-3">
        <div class="pricingTable orange">
          <div class="pricingTable-header">
            <div class="price-value">
              <span class="amount" style="font-size: 40px; text-align: justify;margin-top: 40px"> LEGAL OPINION</span>

            </div>
            <h3 class="title">Business</h3>
          </div>
          <p class="pricing-content" style="text-align: center">Get a complete legal opinion from a licensed attorney
            including personalized alternative solutions to obtain Permanent Residency
            Includes: GCMS analysis and e-GCMS notes and a private consultation by video-conference.
            Average processing time 50-60 days. </p>
          <ul class="pricing-content">


            <li><i class="fa fa-check"></i>
              <label class="radio-inline btn btn-primary w-75" style="background-color: #0652DD;">
                <input type="radio" name="optradio" style="align-content: flex-start" value='55'
                  (change)=radiochangehandler($event) checked> 55
              </label></li>
            <li><i class="fa fa-check"></i>
              <label class="radio-inline btn btn-primary w-75" style="background-color: #0652DD">
                <input type="radio" name="optradio" value='45' (change)=radiochangehandler($event) checked> 45
              </label></li>
            <li><i class="fa fa-check"></i>
              <label class="radio-inline btn btn-primary w-75" style="background-color: #0652DD">
                <input type="radio" name="optradio" value='3000' (change)=radiochangehandler($event) checked> 3000
              </label></li>
          </ul>


          <a href="#" class="pricingTable-signup" (click)='ordernow("LEGAL OPINION")'>Order</a>
        </div>
      </div>
    </div>
  </div>
</div> -->




<div _ngcontent-bvu-c78="" id="price-section" class="site-section">
  <div _ngcontent-bvu-c78="" class="container">
    <div _ngcontent-bvu-c78="" class="row">
      <div _ngcontent-bvu-c78="" class="col-md-3 col-sm-3">
        <div _ngcontent-bvu-c78="" class="pricingTable orange">
          <div _ngcontent-bvu-c78="" class="pricingTable-header">
            <div _ngcontent-bvu-c78="" class="price-value"><span _ngcontent-bvu-c78="" class="amount"
                style="font-size: 40px; text-align: justify; margin-top: 40px;"> e-GCMS</span></div>
            <h3 _ngcontent-bvu-c78="" class="title">Business</h3>
          </div>
          <p _ngcontent-bvu-c78="" class="pricing-content" style="text-align: center;"> Electronic Case Notes Delivered
            Right to Your E-Mail Inbox as Issued by IRCC. Approximately 40 Days Delivery Time </p><br
            _ngcontent-bvu-c78="">
          <ul _ngcontent-bvu-c78="" class="pricing-content">
            <li _ngcontent-bvu-c78=""><label _ngcontent-bvu-c78="" class="labelclass"><input _ngcontent-bvu-c78=""
                  type="radio" name="example" value="20" checked=""
                  class="option-input radio ng-untouched ng-pristine ng-valid"><label _ngcontent-bvu-c78=""
                  onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"
                  style="margin-left: 40px;"><sup _ngcontent-bvu-c78="">C$</sup><b _ngcontent-bvu-c78=""
                    style="font-size: large;"> 20</b></label></label></li>
            <li _ngcontent-bvu-c78=""><label _ngcontent-bvu-c78="" class="labelclass"><input _ngcontent-bvu-c78=""
                  type="radio" name="example" value="15" class="option-input radio"><label _ngcontent-bvu-c78=""
                  onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"
                  style="margin-left: 40px;"><sup _ngcontent-bvu-c78="">U$</sup><b _ngcontent-bvu-c78=""
                    style="font-size: large;"> 15</b></label></label></li>
            <li _ngcontent-bvu-c78=""><label _ngcontent-bvu-c78="" class="labelclass"><input _ngcontent-bvu-c78=""
                  type="radio" name="example" value="500" class="option-input radio"><label _ngcontent-bvu-c78=""
                  onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"
                  style="margin-left: 40px;"><sup _ngcontent-bvu-c78=""> ₹ </sup><b _ngcontent-bvu-c78=""
                    style="font-size: large;"> 500</b></label></label></li>
          </ul><br _ngcontent-bvu-c78=""><a _ngcontent-bvu-c78="" class="pricingTable-signup"
            style="color: white;">Order</a>
        </div>
      </div>
      <div _ngcontent-bvu-c78="" class="col-md-3 col-sm-3">
        <div _ngcontent-bvu-c78="" class="pricingTable orange">
          <div _ngcontent-bvu-c78="" class="pricingTable-header">
            <div _ngcontent-bvu-c78="" class="price-value"><span _ngcontent-bvu-c78="" class="amount"
                style="font-size: 40px; text-align: justify; margin-top: 40px;">GCMS+</span></div>
            <h3 _ngcontent-bvu-c78="" class="title">Business</h3>
          </div>
          <p _ngcontent-bvu-c78="" class="pricing-content" style="text-align: center;"> Entire Case File Which Includes
            Copies of The Forms &amp; Docs Submited to IRCC. Delivery times varies and are considerably longer than
            e-GCMS </p>
          <ul _ngcontent-bvu-c78="" class="pricing-content">
            <li _ngcontent-bvu-c78=""><label _ngcontent-bvu-c78="" class="labelclass"><input _ngcontent-bvu-c78=""
                  type="radio" name="example" checked="" value="20" class="option-input radio"><label
                  _ngcontent-bvu-c78="" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"
                  style="margin-left: 40px;"><sup _ngcontent-bvu-c78="">C$</sup><b _ngcontent-bvu-c78=""
                    style="font-size: large;"> 20</b></label></label></li>
            <li _ngcontent-bvu-c78=""><label _ngcontent-bvu-c78="" class="labelclass"><input _ngcontent-bvu-c78=""
                  type="radio" name="example" value="15" class="option-input radio"><label _ngcontent-bvu-c78=""
                  onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"
                  style="margin-left: 40px;"><sup _ngcontent-bvu-c78="">U$</sup><b _ngcontent-bvu-c78=""
                    style="font-size: large;"> 15</b></label></label></li>
            <li _ngcontent-bvu-c78=""><label _ngcontent-bvu-c78="" class="labelclass"><input _ngcontent-bvu-c78=""
                  type="radio" name="example" value="500" class="option-input radio"><label _ngcontent-bvu-c78=""
                  onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"
                  style="margin-left: 40px;"><sup _ngcontent-bvu-c78=""> ₹ </sup><b _ngcontent-bvu-c78=""
                    style="font-size: large;"> 500</b></label></label></li>
          </ul><br _ngcontent-bvu-c78=""><a _ngcontent-bvu-c78="" href="#" class="pricingTable-signup">Order</a>
        </div>
      </div>
      <div _ngcontent-bvu-c78="" class="col-md-3 col-sm-3">
        <div _ngcontent-bvu-c78="" class="pricingTable orange">
          <div _ngcontent-bvu-c78="" class="pricingTable-header">
            <div _ngcontent-bvu-c78="" class="price-value"><span _ngcontent-bvu-c78="" class="amount"
                style="font-size: 40px; text-align: justify; margin-top: 40px;"> CBSA/CSIS</span></div>
            <h3 _ngcontent-bvu-c78="" class="title">Business</h3>
          </div>
          <p _ngcontent-bvu-c78="" class="pricing-content" style="text-align: center;"> Notes about PR application
            processing or information on border crossing for filing citizenship application. Average processing time
            50-60 days </p>
          <ul _ngcontent-bvu-c78="" class="pricing-content">
            <li _ngcontent-bvu-c78=""><label _ngcontent-bvu-c78="" class="labelclass"><input _ngcontent-bvu-c78=""
                  type="radio" name="example" checked="" value="20" class="option-input radio"><label
                  _ngcontent-bvu-c78="" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"
                  style="margin-left: 40px;"><sup _ngcontent-bvu-c78="">C$</sup><b _ngcontent-bvu-c78=""
                    style="font-size: large;"> 20</b></label></label></li>
            <li _ngcontent-bvu-c78=""><label _ngcontent-bvu-c78="" class="labelclass"><input _ngcontent-bvu-c78=""
                  type="radio" name="example" value="15" class="option-input radio"><label _ngcontent-bvu-c78=""
                  onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"
                  style="margin-left: 40px;"><sup _ngcontent-bvu-c78="">U$</sup><b _ngcontent-bvu-c78=""
                    style="font-size: large;"> 15</b></label></label></li>
            <li _ngcontent-bvu-c78=""><label _ngcontent-bvu-c78="" class="labelclass"><input _ngcontent-bvu-c78=""
                  type="radio" name="example" value="500" class="option-input radio"><label _ngcontent-bvu-c78=""
                  onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"
                  style="margin-left: 40px;"><sup _ngcontent-bvu-c78=""> ₹ </sup><b _ngcontent-bvu-c78=""
                    style="font-size: large;"> 500</b></label></label></li>
          </ul><br _ngcontent-bvu-c78=""><a _ngcontent-bvu-c78="" href="#" class="pricingTable-signup">Order</a>
        </div>
      </div>
      <div _ngcontent-bvu-c78="" class="col-md-3 col-sm-3">
        <div _ngcontent-bvu-c78="" class="pricingTable orange">
          <div _ngcontent-bvu-c78="" class="pricingTable-header">
            <div _ngcontent-bvu-c78="" class="price-value"><span _ngcontent-bvu-c78="" class="amount"
                style="font-size: 40px; text-align: justify; margin-top: 40px;"> LEGAL OPINION</span></div>
            <h3 _ngcontent-bvu-c78="" class="title">Business</h3>
          </div>
          <p _ngcontent-bvu-c78="" class="pricing-content" style="text-align: center;"> Get a complete legal opinion
            from a licensed attorney including personalized alternative solutions to obtain Permanent Residency
            Includes: GCMS analysis and e-GCMS notes and a private consultation by video-conference. Average processing
            time 50-60 days. </p>
          <ul _ngcontent-bvu-c78="" class="pricing-content">
            <li _ngcontent-bvu-c78=""><label _ngcontent-bvu-c78="" class="labelclass"><input _ngcontent-bvu-c78=""
                  type="radio" name="example" checked="" class="option-input radio"><label _ngcontent-bvu-c78=""
                  onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"
                  style="margin-left: 40px;"><sup _ngcontent-bvu-c78="">C$</sup><b _ngcontent-bvu-c78=""
                    style="font-size: large;"> 20</b></label></label></li>
            <li _ngcontent-bvu-c78=""><label _ngcontent-bvu-c78="" class="labelclass"><input _ngcontent-bvu-c78=""
                  type="radio" name="example" value="15" class="option-input radio"><label _ngcontent-bvu-c78=""
                  onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"
                  style="margin-left: 40px;"><sup _ngcontent-bvu-c78="">U$</sup><b _ngcontent-bvu-c78=""
                    style="font-size: large;"> 15</b></label></label></li>
            <li _ngcontent-bvu-c78=""><label _ngcontent-bvu-c78="" class="labelclass"><input _ngcontent-bvu-c78=""
                  type="radio" name="example" value="500" class="option-input radio"><label _ngcontent-bvu-c78=""
                  onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"
                  style="margin-left: 40px;"><sup _ngcontent-bvu-c78=""> ₹ </sup><b _ngcontent-bvu-c78=""
                    style="font-size: large;"> 500</b></label></label></li>
          </ul><br _ngcontent-bvu-c78=""><a _ngcontent-bvu-c78="" href="#" class="pricingTable-signup">Order</a>
        </div>
      </div>
    </div>
  </div>
</div>